body {
    margin: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #9AABD8;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    margin: 250px auto;
    padding: 50px;
    border: 5px solid #EEEEEE;
    border-radius: 10px;
    background-color: #1B244A;
    color: #EEEEEE;
}


.score{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #080001;
    margin:  0;
    padding: 20px;
    border-radius: 5px;
    color: #F94F6D;

}

.add-points {
    margin-top: 20px;
}

.score-section  {
    margin: 0 ;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 5px;
    font-size: 50px;

}

button {
    font-size: 12px;
    margin: 5px;
    padding: 10px 10px;
    border: #9AABD8 solid 2px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
}


/* utility class for element size */
/*.util-element-size{
    border: 1px dotted blue;
}
*/
